{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="col-md-4 col-md-offset-4">


      <div align="center">
        <h2>What is ORT Tracker?</h2>
      </div>

<hr>

      <div >
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
        <p> ORT Tracker is an application developed by the Upper School Advanced Computer Science Class for the Kew Forest Community.
          It is coded to provide an easy, accesible way to track food waste and serves as an
          initiative to reduce the amount of food we waste here at the Kew Forest School.
          ORT Tracker allows for students to have an interactive experience while learning about the food they waste.
          In addition, ORT Tracker serves as an opportunity to bring the upper and lower school together to
          work in unison to provide an application that will benefit the whole Kew Forest Community.
        </p>
        <h4>
          - The Advanced Computer Science Class
         </h4>
      </div>

<hr>



{% endblock %}
