<html>
  <head>
    <title>ORT Tracker</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
    <link href="static/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class= "main-wrap">
<h1>Welcome to ORT Tracker</h1>
<div class="topnav">
  <a href="index">Home</a>
  <a href="login">Login</a>
  <a href="register">Register</a>
  <a href="bform">Enter Waste</a>
</div>
    {% block content %} {% endblock %}
</div>
  </body>
</html>
