<html>
  <head>
    <title>ORT Tracker</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
    <link href="static/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class= "decoration"> <img class="ficon" src="static/images/apple.png" alt="apple" height="100"> </div>
    <div class= "main-wrap">
<h1>Welcome to ORT Tracker</h1>

<ul class="topnav nav navbar-nav">
  {% if current_user.is_authenticated %}
    <li><a href="{{url_for('bview')}}">My School</a></li>
    <li><a href="{{url_for('rankings')}}">Rankings</a></li>
    <li><a href="{{ url_for('bform') }}">Enter Waste</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    <li><a href="{{url_for('about')}}">About</a></li>

  {% else %}
    <li><a href="{{ url_for('register') }}">Register</a></li>
    <li><a href="{{ url_for('login') }}">Log In</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
  {% endif %}
</ul>
    {% block content %} {% endblock %}
</div>
  </body>
</html>
