{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>ORT Tracker</h2>
      </div>

<hr>

<form method="post" action="/bform"  id="db_post" name="db_post">

    {{ form1.hidden_tag() }}
    <div class ="iconwrap">
        <img class="ficon" src="static/images/compost.png" alt="compost" height="100">

    <div class = "rightcol">
      {{ macros.render_field(form1.dbWeight_of_ORT, placeholder='Weight in pounds for ORT', type='number', step='.1', label_visible=false) }}
    </div>
  </div>
  <div class ="iconwrap">
      <img class="ficon" src="static/images/trashcan.png" alt="trashcan" height="100">
  <div class = "rightcol">
    {{ macros.render_field(form1.dbWeight_of_Compost, placeholder='Weight in pounds for Compost', type='number',step='.1', label_visible=false) }}
    </div></div>
    <div class="form-group  ">


      <select class="form-control" id="dbGroups" name="dbGroups" placeholder="Enter grade" required="" type="dbNotes" value="">
            </div>
  <option value="LS">Lower Schoo</option>
  <option value="MS">Middle School</option>
  <option value="US">Upper School</option>
    </select>
    <br>
    {{ macros.render_field(form1.dbNotes, placeholder='Enter additional information', type='dbNotes', label_visible=false) }}
    {{ macros.render_field(form1.dbDate, placeholder='Enter date', type='dbNotes', label_visible=false) }}


    <div align="center"><button type="submit" class="btn btn-primary">Enter</button></p></div>

</form>


</div>

{% endblock %}
