{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>{{num_return}} most recent entries to your ORT Tracker:</h2>
      </div>

<hr>

    <table class="table table-striped table-hover">
  <thead>
{% for z in results %}
    <tr>
      <td>{{z.notes}}</td>
      <td>{{z.wdate}}</td>
      <td>{{z.weight_of_ort}}</td>
      <td>{{z.weight_of_compost}}</td>
      <td>{{z.groups}}</td>
    </tr>
{% endfor %}
  </thead>
</table>


<hr>

<div align="center"
    <p><a href="/"><button type="submit" class="btn btn-primary">Return home</button></a></p>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>


{% endblock %}
