{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}


      <div align="center">
        <h2>{{num_return}} School Rankings:</h2>
      </div>

<p class= "totals">Total ORT: {{total_ort}}</p>
<p class= "totals">Total Trash: {{total_g}}</p>

<table class="table table-striped table-hover">
<thead>
<tr>
  <th>School</th>
  <th>Ort</th>
</tr>
</thead>
{% for z in results %}
<tbody>
<tr>
  <td>{{z.school}}</td>
  <td>{{z.weight_of_ort}}</td>
</tr>
{% endfor %}
<tr>
<td>Totals</td>
<td>{{total_ort}}</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<table class=" table table-striped table-hover">
<thead>
<tr>
  <th>School</th>
  <th>Compost</th>
</tr>
</thead>
{% for z in results %}
<tbody>
<tr>
<td>{{z.school}}</td>
<td>{{z.weight_of_compost}}</td>
</tr>
{% endfor %}
<tr>
<td>Totals</td>
<td>{{total_g}}</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<hr>


{% endblock %}
