{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function CheckOther(val){
var element=document.getElementById('school');
if(val=='Choose School'||val== 0)
element.style.display='block';
else
element.style.display='none';
}

</script>
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {{ form.school.label }}<br>
        <div class="form-group  ">
          <select class="form-control" onchange="CheckOther(this.value)"id="schoollist" name="schoolid" placeholder="Choose School" required="" type="" value="">
                {% for z in slist %}
      <option value="{{ z.id }}">{{ z.name }}</option>{% endfor %}
      <option value="0">Other</option>
        </select>  </div>
        <input type="text" name="school" id="school" style='display:none;'/>
        <!--
          <p>
            {{ form.school(size=32) }}<br>
            {% for error in form.school.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
